name: Deploy to Cloud Run

on:
  push:
    branches:
      - main
  workflow_dispatch:  # 手动触发

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - id: 'auth'
      uses: 'google-github-actions/auth@v2'
      with:
        credentials_json: '${{ secrets.GCP_SA_KEY }}'

    - name: 'Deploy to Cloud Run'
      uses: 'google-github-actions/deploy-cloudrun@v2'
      with:
        service: 'amz-ai-replica'
        region: 'us-central1'
        source: '.'
        env_vars: |-
          SMTP_USER=leetony4927@gmail.com
          SMTP_PASSWORD=deazlqrowonsvcee
          N8N_CHECKOUT_WEBHOOK_URL=https://tony4927.app.n8n.cloud/webhook/create-checkout
          OPENROUTER_API_KEY=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
          SMTP_PORT=465
          SMTP_SERVER=smtp.gmail.com
